@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: #f1f5f8;
}
.container {
  width: 100vw;
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  font-size: 1.4rem;
  gap: 1rem;
  
}
#result {
  margin-top: 2rem;
}
#paragraphs {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: 3px;
  color: #063251;
  font-weight: 400;
}
input {
  width: 60px;
  height: 30px;
  font-size: 1.2rem;
  outline: none;
  text-align: center;
  border: none;
  border-radius: 4px;
}

/* input[type=number]::-webkit-inner-spin-button, */
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.box1 {
  display: flex;
  gap: 1rem;

}
button {
  max-width: 150px;
}
.yeniP {
  margin-bottom: 1.2rem;
  font-family: "Open Sans", sans-serif;
  color: #617d98;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
h2 {
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  font-size: 28px;
  letter-spacing: 4px;
  color: #063251;
  font-weight: 700;
}
.box {
  margin-top: 3rem;
  width: 80%;
  
}
button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #49a6e9;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  border: 2px solid #49a6e9;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #49a6e9b0;
  transition: all 300ms;
  border: 2px solid #49a6e9b2;
}
